#container {
	font-family: "fjalla One", sans-serif;
    font-size: 20px;
  }

#product-main-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#prod-name {
    font-size: 43px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: left;
}

#about-prod {
    font-size: 35px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 40px;
}

#product-details-div {
    margin: 0 80px 0 80px;
}

#price-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

#product-description {
    margin-bottom: 40px;
}

#product-weight {
    text-align: left;
}

#product-price {
    text-align: right;
}

#product-description {
    text-align: justify;
}

#add-to-cart-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 120px;
}

#add-sub-buttons {
    border: 1px solid black;
    border-radius: 40px;
    width:150px;
}

#add-sub-buttons {
    text-align: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}

#add-to-cart-button {
    border: 1px solid black;
    border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 400px;
    font-size: 23px;
    background-color: #185E48;
    color: white;
}

#accordion-item {
    padding: 10px 0 10px 0;
    border-top: 1px solid black;
}

#accordion-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.last-acc {
    border-bottom: 1px solid black;
}
#accordion-title p {
    text-align: left;
}

#accordion-title span {
    text-align: right;
}

#acc-title {
    align-items: stretch;
}

#similar-products-div {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#similar-div1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#sim-div-head {
    font-size: 35px;
}

#accordion-content {
    text-align: left;
}

#reviewer-name {
    font-size: 25px;
}